.backCar {
  background-image: url(../../assets/carnaval.png);
  background-position: 0vh 4vw;
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  width: 99vw;
  height: 120vh;
  /* position: absolute; */
}

.titleCar {
  color: black;
  font-family: "Segoe UI";
  padding-top: 15%;
  padding-left: 35%;
  font-weight: bold;
}

.textCar {
  color: black;
  font-family: "Segoe UI";
  text-align: justify;
  margin-left: 34%;
  margin-top: 4%;
}

li {
  padding-bottom: 2vh;
}

.listAdu {
  margin-top: 5%;
}
