nav {
  background-color:rgba(204, 163, 98, 0.8);;
  background-repeat: repeat;
}

.title-brand {
  background-image: url("../../assets/LOGO.png");
  background-position: top right;
  background-size: 30vw;
  background-repeat: no-repeat;
  height: 3vw;
  width: 32%;
  position: relative;
  left: 0%;
}

.initBtn {
  width: 8vw;
  height: 10vh;
  padding-top: 24%;
  background-image: url("../../assets/mmm.png");
  background-position: top right;
  background-size: 8vw 6vw;
  background-repeat: no-repeat;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
