nav {
  background-image: url("https://www.csstextures.com/old-paper-T19.jpg");
  background-repeat: repeat;
}

.initBtn {
  border-style: solid;
  border-radius: 10px;
  background-image: url("https://www.csstextures.com/wood-parquet-T27.jpg");
  background-repeat: repeat;
  font-weight: bold;
  color: rgb(7, 0, 0);
}
