@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
.bodyb {
  margin: 0;
  padding: 0;
  height: 87vh;
  background-size: cover;
  font-family: sans-serif;
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 35vw;
  box-sizing: border-box;
  background: lightgray;
}

.formul {
  padding: 0px 40px;
}

h2 {
  margin: 0;
  padding: 20px 0 35px;
  color: black;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
  background: #b4611e;
  cursor: pointer;
  border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
  background: #9c4d19;
  color: black;
}

.parax {
  margin-right: 7px;
  position: relative;
}

.parax:hover {
  cursor: pointer;
}

.acompo {
  margin-left: 35px;
  color: gray;
}

.acomp:hover {
  cursor: pointer;
  color: black;
}
