.proposalCSS {
  height: 70vh;
  width: 30vw;
  position: absolute;
  opacity: 1;
  bottom: 10vh;
  left: 37vw;
  top: 10%;
  z-index: 1400;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}
