@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
.bodybu {
  margin: 0;
  padding: 0;
  height: 87vh;
  background-size: cover;
  font-family: sans-serif;
}

.loginBoxu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 70vh;
  border: rgb(221, 168, 23);
  box-sizing: border-box;
  background: lightgray;
  border-radius: 8px;
}

.formu {
  padding: 0px 40px;
}

.h2u {
  margin: 0;
  padding: 0px 0px 3vh 0px;
  color: black;
  text-align: center;
}

.loginBoxu p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
}

.loginBoxu input {
  width: 100%;
  margin-bottom: 5px;
}
.loginBoxu input[type="text"],
.loginBoxu input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
}
::placeholder {
  color: rba(255, 255, 255, 0.8);
}
.loginBoxu input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
  background: #b4611e;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.loginBoxu input[type="submit"]:hover {
  background: #9c4d19;
  color: black;
}

.paraxu {
  position: relative;
  margin-top: 8px;
}

.paraxu:hover {
  cursor: pointer;
}

.acompo {
  margin-left: 35px;
  color: gray;
}
.acompo:hover {
  cursor: pointer;
  color: black;
}
