@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
.bodybu {
  margin: 0;
  padding: 0;
  height: 87vh;
  background-size: cover;
  font-family: sans-serif;
}

.loginBoxu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 70vh;
  border: rgb(221, 168, 23);
  padding: 0px 40px;
  box-sizing: border-box;
  background: green;
}

.Modal a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin: 4px 0 10px 0;
  margin: 10px;
}
.h2u {
  margin: 0;
  padding: 0px 0 10px;
  color: #fff;
  text-align: center;
}

.loginBoxu p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBoxu input {
  width: 100%;
  margin-bottom: 5px;
}
.loginBoxu input[type="text"],
.loginBoxu input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.loginBoxu input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #8b0000;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.loginBoxu input[type="submit"]:hover {
  background: #b22222;
  color: #fff;
}

.paraxu {
  margin-left: 20vw;
  position: relative;
  margin-top: 8px;
}

.paraxu:hover {
  cursor: pointer;
}

.acompo {
  margin-left: 35px;
}
.acompo:hover {
  cursor: pointer;
}
