.backMu {
  background-image: url(../../assets/Mural.png);
  background-position: bottom right;
  background-color: whitesmoke;
  background-size: cover;
  width: 100vw;
  height: 87vh;
  position: absolute;
}

.titleMu {
  color: black;
  font-family: "Segoe UI";
  padding-top: 3%;
  margin: 5% 8% 2%;
}

.textMu {
  color: black;
  font-family: "Segoe UI";
  text-align: justify;
  margin-left: 23%;
  margin-top: 3%;
}

.listMu {
  margin-top: 5%;
}
