.backMu {
  background-image: url(../../assets/Mural.png);
  background-position: bottom right;
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 105vh;
  
}

.titleMu {
  color: black;
  font-family: "Segoe UI";
  padding-top: 8%;
  margin: 0% 8% 2%;
}

.textMu {
  color: black;
  font-family: "Segoe UI";
  text-align: justify;
  margin-left: 25%;
  margin-top: 3%;
}

.listMu {
  margin-top: 5%;
}
