.butti{
    height: 5vw;
    width: 5vw;
    left: 500px;
}

.buttonD{
    left: 47.5vw;
    top: 85vh;
    font-weight: bold;
    background-color: rgb(207, 207, 102);
    transition: 0.5s;
}

.buttonD:hover{
    background-color: rgba(245, 199, 49, 0.931);
}

.parag{
    position: absolute;
    z-index: 1000;
    color: white;
    left: 29vw;
    top: 36vh;
    font-size: 2vw;
}