.backscreen {
  background-image: url(../../assets/casas.png);
  background-size: cover;
  width: 100vw;
  height: 90vh;
  z-index: -2;
  position: absolute;
}

.darker {
  width: 100vw;
  height: 90vh;
  background: black;
  opacity: 0.5;
  margin: 0vw;
  padding: 0vw;
  position: absolute;
  z-index: 2;
}

.content {
  z-index: 3;
  width: 100vw;
  position: relative;
}

.welcome {
  font-size: 4vw;
}

.introduc {
  margin-top: 20vh;
  margin-left: 10vw;
  text-align: justify;
  position: relative;
  width: 100vw;
  font-size: 1.5vw;
}

.butti {
  position: absolute;
  margin-top: 45vh;
  margin-left: 72vw;
}


.buttonD {
  left: 47.5vw;
  top: 89vh;
  font-weight: bold;
  background-color:  rgb(235, 195, 122);
  transition: 0.5s;
}

.buttonD:hover {
  background-color: rgba(202, 164, 102, 0.8);
}

.parag {
  position: absolute;
  z-index: 1000;
  color: white;
  left: 31vw;
  top: 36vh;
  font-size: 2vw;
}

.overB{

  color: white;
  border-radius: 10px;
  width:16vw;
  right: -3vw;
  top:1vw;
}