body {
  overflow-x: hidden;
}
.title {
  text-align: center;
  font-weight: bold;
}

.jumb {
  margin-top: 2%;
  background-image: url("https://www.csstextures.com/wood-parquet-T27.jpg");
  background-repeat: repeat;
  border-radius: 10px;
}

.contRow {
  overflow-x: scroll;
}

.content {
  display: flex;
  flex-direction: row;
  height: 400px;
}

body {
  background-color: #f5f5f5;
}

.borders {
  border-radius: 20px;
}

.filterBtn {
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
  margin: 0.2vw;
  cursor: pointer;
}

.active {
  background-image: url(https://www.csstextures.com/old-paper-T19.jpg);
}

.filt {
  background-color: grey;
}

.flat {
  position: relative;
  background-image: url("../../assets/casa.png");
  background-position: 0% -104%;
  width: 100vw;
  height: 12.5vw;
  left: -9.4%;
  text-align: center;
  padding-top: 2.8%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.flatText {
  position: relative;
  top: -25%;
  background-color: black;
  height: 125%;
  opacity: 0.5;
}
.FText {
  position: relative;
  top: -108%;
  color: black;
}
